.division-name {
    vertical-align: middle !important;
}
thead tr {
    border-top: none !important;
}
.division-table {
    margin-bottom: 0rem;
}
.help-text {
    margin-bottom: 0.25rem;
    color: #323232;
}
